body {
    background-color: ghostwhite;
    margin: 0%;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}