body {
    background-color: ghostwhite;
    margin: 0%;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
}

div.scroll-container {
    
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

div.scroll-container img {
    padding: 10px;
    border-radius: 15px;
}