body {
    background-color: ghostwhite;
    margin: 0%;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: underline;
}

div.scroll-container {
    background-color: rgba(31, 30, 37, 0.731);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scrollbar-base-color: black;
    scrollbar-margin: 10px;
}

div.scroll-container img {
    margin: 10px;
    border-radius: 12px;
    width: 500px;
    height: 800px;
}